@model Mobiteli.Models.Servis

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Servis</legend>

    <div class="display-label">Uredjaji</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Uredjaji.Uredjaj)
    </div>

    <div class="display-label">datum_otp</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.datum_otp)
    </div>

    <div class="display-label">opis_kvara</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.opis_kvara)
    </div>

    <div class="display-label">datum_pov</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.datum_pov)
    </div>

    <div class="display-label">opis_opr</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.opis_opr)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id_srv }) |
    @Html.ActionLink("Back to List", "Index")
</p>
