@using Mobiteli.Models
@model IEnumerable<Telefonija>

@{
    ViewBag.Title = "Mobilni uređaji";
}

    <table id="hor-minimalist-b">
    <tr>
        <th></th>
        <th></th>
           <th></th>
        <th>Zaposlenici</th>
        <th>Operateri</th>
        <th>Broj</th>
        <th>Tip</th>
        <th>voice</th>
        <th >data</th>
        <th >Aktiviran</th>
        <th>Prestanak</th>
        <th >Limit</th>
        <th>Potrošnja</th>
    </tr>

    @foreach (var item in Model) 
    { 
        <tr>
            <td>
                <a href='@Url.Action("SimCard", new {id=item.id_zaposlenici})'>
                    <img src="../../images/card.png" alt="Broj telefona" style="border-style: none" />
                </a>
            </td>
            <td>
                <a href='@Url.Action("Mobile", new { id = item.id_zaposlenici })'>
                    <img src="../../images/phone.png" alt="Uređaj" style="border-style: none" />
                </a>
            </td>
                        <td>
                <a href='@Url.Action("RazduzenjeView", new { id = item.id_tel })'>
                    <img src="/Content/images/delete.png" alt="Razduženje" style="border-style: none" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zaposlenici.ImePrezime)
            </td>
            <td style="text-align: center">
                @if (item.Operateri.Naziv != null)
                {
                    if (item.Operateri.Naziv == "Eronet")
                    {
                        <img src="../../images/eronet.gif" alt="Edit" style="border-style: none; height: 12px;" />
                    }
                    if (item.Operateri.Naziv == "BH Mobile")
                    {
                        <img src="../../images/bht.png" alt="Edit" style="border-style: none; height: 16px;" />
                    }
                    if (item.Operateri.Naziv == "MTel")
                    {
                        <img src="../../images/mtel_logo.jpg" alt="Edit" style="border-style: none; height: 18px;" />
                    }
                }
            
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.broj_tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tip_Telefona.Naziv)
            </td>
            <td style="text-align: center">
                @if (item.voice)
                {
                    <img src="../../images/green.png" alt="Edit" style="border-style: none;" />
                }
                else
                {
                    <img src="../../images/red.png" alt="Edit" style="border-style: none; " />
                }
            </td>
            <td style="text-align: center">
                @if (item.data)
                {
                    <img src="../../images/green.png" alt="Edit" style="border-style: none" />
                }
                else
                {
                    <img src="../../images/red.png" alt="Edit" style="border-style: none" />
                }
    
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dat_akt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dat_deakt)
            </td>
            <td style="text-align: right">
                @Html.DisplayFor(modelItem => item.Limit)
            </td>
            <td style="padding: 5px; text-align: center;">
                <a href='@Url.Action("SumarnoPage", new {id=item.id_tel})'>
                    <img src="../../images/detalj.png" alt="Potrošnja" style="border-style: none" />
                </a>
            </td> 
        </tr>
} 
  </table>
