@model Mobiteli.Models.Zaposlenici

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Zaposlenici</legend>

    <div class="display-label">Ime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ime)
    </div>

    <div class="display-label">Prezime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Prezime)
    </div>

    <div class="display-label">ImePrezime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImePrezime)
    </div>

    <div class="display-label">OD2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OD2.Naziv)
    </div>

    <div class="display-label">id_rm</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_rm)
    </div>

    <div class="display-label">id_pripadnost</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_pripadnost)
    </div>

    <div class="display-label">jmbg</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jmbg)
    </div>

    <div class="display-label">datum_pocetka_rada</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.datum_pocetka_rada)
    </div>

    <div class="display-label">privremeno</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.privremeno)
    </div>

    <div class="display-label">datum_prestanka</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.datum_prestanka)
    </div>

    <div class="display-label">hrm_broj</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hrm_broj)
    </div>

    <div class="display-label">tip_zaposlenja</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tip_zaposlenja)
    </div>

    <div class="display-label">email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">ad</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ad)
    </div>

    <div class="display-label">sysdate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sysdate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id_zaposlenici }) |
    @Html.ActionLink("Back to List", "Index")
</p>
